@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo</title>
</head>
<body style="font-size:12px">
    <div>
        <fieldset>

            <legend>列表：</legend>
         <ul>
             <li><a href="/Demo/CookDemo/">CookHelper</a></li>
             <li><a href="/SQLiteDe/DesDemo/">DESEncrypt</a></li>
             <li><a href="/Demo/UploadDemo/">FileHelper、FileUp</a></li>
         </ul>
        </fieldset>
    </div>
</body>
</html>
