@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form method="post" action="/SQLiteDe/DesTest">
            <input type="submit" value="开始" />
            @ViewBag.Message
        </form>
    </div>
</body>
</html>
