@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
  
        
        <form method="post" action="/SQLiteDe/Index">
            <input id="name" name="name" /><br />
            <input id="createdate" name="createdate" value="@DateTime.Now" />
            <br />
            <input type="submit" value="提交" />
            @ViewBag.Message
        </form>
    </div>
</body>
</html>
